{:paths ["resources" "src"]
 :deps  {org.clojure/clojure        {:mvn/version "1.11.1"}
         com.xtdb/xtdb-core         {:mvn/version "1.23.0"}
         com.xtdb/xtdb-rocksdb      {:mvn/version "1.23.0"}
         metosin/reitit             {:mvn/version "0.5.18"}
         http-kit/http-kit          {:mvn/version "2.5.3"}
         mount/mount                {:mvn/version "0.1.17"}
         hiccup/hiccup              {:mvn/version "1.0.5"}
         compojure/compojure        {:mvn/version "1.7.0"}
         com.stuartsierra/component {:mvn/version "1.1.0"}
         ring/ring                  {:mvn/version "1.9.6"}
         ring/ring-defaults         {:mvn/version "0.3.4"}
         }
 }
