{:paths ["resources" "src"]
 :deps  {org.clojure/clojure        {:mvn/version "1.11.1"}
         com.xtdb/xtdb-core         {:mvn/version "1.23.0"}
         com.xtdb/xtdb-rocksdb      {:mvn/version "1.23.0"}
         metosin/reitit             {:mvn/version "0.5.18"}
         selmer/selmer              {:mvn/version "1.12.55"}
         compojure/compojure        {:mvn/version "1.7.0"}
         com.stuartsierra/component {:mvn/version "1.1.0"}
         ring/ring                  {:mvn/version "1.9.6"}
         ring/ring-defaults         {:mvn/version "0.3.4"}
         }
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps {io.github.cognitect-labs/test-runner
                         {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
            :main-opts ["-m"  "cognitect.test-runner"]
            :exec-fn cognitect.test-runner.api/test}
           }
 }
